.sponsorSection {
    display: flex;
    flex-direction: column;
    background-color: white;
}

.sponsorTitle h3 {
    margin: 5rem 0 3rem 0;
    text-align: center;
    font-size: 3rem;
}

.sponsorList {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0 10rem 3rem 10rem;
    padding: 0 5rem 0 5rem;
}
.sponsorList img {
    margin: 1.5rem 9rem;
    width: 13%;
    object-fit: contain;
}

@media (max-width: 768px) {
    .sponsorList {
        flex-direction: row; 
        margin: 0 2rem 3rem 2rem; 
        padding: 0 1rem 0 1rem;
    }

    .sponsorList img {
        margin: 1rem 0.5rem;
        width: 35%; 
    }
    .appleimg {
        width: 10%;
    }

    .sponsorTitle h3 {
        font-size: 2rem;
    }
}